GITLAB_PERSONAL_ACCESS_TOKEN=
GITLAB_GRAPHQL_URL=https://codex.oginnovation.com/api/graphql
GITLAB_API_URL=https://codex.oginnovation.com/api/v4/
GITLAB_READ_ONLY_MODE=false
MONGODB_URI=mongodb+srv://ogi_demo_bala:bala_ogi_demo@ogidemo.h7jhuxn.mongodb.net/codex_api?retryWrites=true&w=majority&appName=OgiDemo
PORT=5001
LOG_LEVEL=debug
GRAPHQL_PLAYGROUND=true
GRAPHQL_INTROSPECTION=true
NODE_ENV=development

# JWT Configuration
JWT_SECRET=codex-jwt-secret-854ad3a2ba4c48e4345176e3babb18e6
JWT_EXPIRY=7d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=true
EMAIL_USER=baluk1219@gmail.com
EMAIL_PASS=sqlzstjooxgbcrga
EMAIL_FROM=baluk1219@gmail.com
EMAIL_FROM_NAME=Codex
ZOHO_CLIENT_ID=1000.9Z2XVBSRECBIEV4L0EQM110FOQOK8A
ZOHO_CLIENT_SECRET=0e092a9d476d147a575ffa59978331b4a7adeee061
ZOHO_ACCOUNTS_URL=https://accounts.zoho.com
ZOHO_API_BASE_URL=https://sprintsapi.zoho.com/zsapi
ZOHO_API_SCOPES=ZohoSprints.teams.ALL,ZohoSprints.projects.ALL,ZohoSprints.epic.ALL,ZohoSprints.sprints.ALL,ZohoSprints.items.ALL,ZohoSprints.projectsettings.ALL,ZohoSprints.webhook.ALL,ZohoSprints.meetings.ALL,ZohoSprints.timesheets.ALL,ZohoSprints.release.ALL,ZohoSprints.teamusers.ALL,ZohoSprints.extensions.ALL,ZohoSprints.expense.ALL
